{% extends "base.html" %}

{% block title %}About Digital Product Management{% endblock %}

{% block body %}
    <h2>About Digital Product Management</h2>
    <p>This is the about page for the Digital Product Management app.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error facere dolorem illum tempora ex ad animi repellendus quibusdam vero, amet delectus, ipsa ipsam aliquid minus nesciunt cumque unde commodi eos!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nemo pariatur distinctio. Eius quia asperiores iure dolorem? Libero laudantium doloremque reiciendis, sed, veniam consequatur delectus voluptate saepe quia dolor labore?</p>
{% endblock %}